* {
  /* background-color: whitesmoke; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.header {
  border-radius: 1em;
  display: flex;
  width: 30%;
  justify-content: center;
  font-size: 24px;
}

.add_product {
  margin: 1em;
  border-radius: 1em;
  display: flex;
  width: auto;
  justify-content: center;
}

.add_product input {
  border: 5% solid rgb(100, 92, 92);
  border-radius: 4px;
}

.product_table table {
  border-collapse: collapse;
  width: 100%;
}

.product_table td,
.product_table th {
  text-align: right;
  /* border: 1px solid #ddd; */
  padding: 1rem;
}

.product_table th {
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #5d6b6a;
  color: white;
}

.product_table .product td {
  text-align: left;
}

.product_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product_table tr:nth-child(odd) {
  background-color: #dadada;
}

.edit_product{
  visibility: hidden;
}

#delete_product_btn{

  margin-top: 0.9rem;
  margin-left: 0.8rem;
  filter: invert(48%) sepia(13%) saturate(6000%) hue-rotate(340deg) brightness(95%) contrast(90%);
}
